@using Microsoft.AspNetCore.Identity
@using TimeController.Areas.Identity.Data

@inject SignInManager<TimeControllerUser> SignInManager
@inject UserManager<TimeControllerUser> UserManager
<script language="JavaScript" type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/script.js"></script>
<span id="session" data-usreId ="@UserManager.GetUserId(User)"></span>
<div class="container">
    <div class="row" >
        <div class="col-sm-10 col-sm offset-3">
            <form name=StopWatchForm>
                <input name=stopwatch size=10 value="00:00:00.000">
                <input name=start type=button value="Начать работу" onclick="StartPauseStopWatch()">
                <input type=button value="Сохранить данные" onclick="ClearStopWatch()">
            </form>
        </div>
       
    </div>

</div>

